[Desktop Entry]
Name=uBooks
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/share/uBooks/uBooks.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
